@import url('theme.css');

.input {
  caret-color: @caret_color;
}
.selected.item-box {
  /* workaround for a bug in GTK+ < 3.20 */
  border: none;
}


* {
  border-radius: 0px;
  
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;

  -gtk-outline-bottom-right-radius: 0px;
  -gtk-outline-bottom-left-radius: 0px;
  -gtk-outline-top-right-radius: 0px;
  -gtk-outline-top-left-radius: 0px;
}

